<%- include("partials/header.ejs") %>
<%- include("partials/Sidebar.ejs") %>
        
<!-- Content -->
<div id="content" class="content mt-4 bg-body p-5 w-100 h-80">
  <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group col-md-8 col-12">

      <% for (let i = 0; i < tasksData.length; i++) { %>
        <% const newTask = tasksData[i].task; %>
        <% const newNote = tasksData[i].note; %>
        <% const newChecked = tasksData[i].checked; %>
        
        <%- include("partials/task.ejs", {task: newTask, note: newNote, checked:newChecked, index: i}) %>
      <% } %>    
      
    <form action="/<%= taskType %>" method="post">
      <label class="list-group-item d-flex gap-3 bg-body-tertiary">
        <span class="pt-1 form-checked-content w-100">
          <input contenteditable="true" class="w-100 m-2 form-control" type="text" name="task" placeholder="Enter a new task..." required>
          <!-- <span contenteditable="true" class="w-100">Add new task...</span> -->
          <small class="d-block text-body-secondary">
            <!-- <input contenteditable="true" class="w-50 form-control" type="text" name="newNote" placeholder="Notes"> -->
            <textarea rows="2" cols="60" class="w-100 m-2 form-control" name="note" placeholder="Notes"></textarea>
          </small>
        </span>
        <button class="w-10 btn btn-primary btn-lg" type="submit" fdprocessedid="v1yo4">Add task</button>
      </label>
    </form>
    </div>
  </div>
  
<%- include("partials/footer.ejs") %>
            
      